<html>
    <head>
        <title>Welcome to OLX</title>
    </head>
    <body>
        <a href='/user/login'>Login/Signup</a>
        <br /><br />
        <h1>OLX</h1>
        <br />
        <h4>The go-to place to Buy and Sell Products</h4>
        <br /><br /><br />
        <table>
            <tr>
                <th>S.No</th>
                <th>Product Name</th>
            </tr>

        </table>
    </body>
</html>