<html>
    <head>
        <title>Login/Signup</title>
        <style>
            .button{
                height:10px;
                width:30px
            }
        </style>
    </head>
    <body style='display: flex'>
        <div>
            <h1>Login</h1>
            <form>
                <input type='email' placeholder='Enter Email ID' name='email' />
                <input type='password' placeholder="Enter Password" name='pass' />
                <br />
                <button class='button' type='submit' name='action' value='login'>Login</button>
            </form>
        </div>
        <div style='margin-left: 50px'>
            <h1>Register</h1>
            <form>
                <input type='email' placeholder='Enter Email ID' name='email' />
                <input type='password' placeholder="Enter Password" name='pass' />
                <br />
                <button class='button' type='submit' name='action' value='signup'>Regsiter</button>
                </form>
        </div>
    </body>
</html>