<html>
    <head>
        <title>Login/Signup</title>
    </head>
    <body>
        <div>
            <h1>Login</h1>
            <form>
                <input type='email' placeholder='Enter Email ID' name='email' />
                <input type='password' placeholder="Enter Password" name='pass' />
                <br />
                <button type='submit' name='action' value='login' />
            </form>
        </div>
        <div>
            <h1>Register</h1>
            <form>
                <input type='email' placeholder='Enter Email ID' name='email' />
                <input type='password' placeholder="Enter Password" name='pass' />
                <br />
                <button type='submit' name='action' value='signup' />
                </form>
        </div>
    </body>
</html>